.login-container{
    display: flex;

}

.login-left {
    width: 60%;
    height: 100vh; 
    background: linear-gradient(135deg, #6b00b6, #440074);
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.login-left h1{
    font-size: 2.5rem;
}

.login-left h2{
    margin-top: 20px;
    font-size: 1.5rem;
}

.login-left p{
    margin-top: 10px;
    font-size: 1rem;
}

.login-right{
    width:40%;
    height:100vh;
    flex:1;
    padding: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F5F6FA;
}

.login-form{
    display:flex;
    flex-direction: column;
}

.login-form input{
    margin-bottom: 20px;
    padding:10px;
    font-size: 1rem;
    border: 1px solid #ccc
}

.login-button{
    background-color: #6b00b6;
    color:white;
    padding:12px;
    border:none;
    border-radius:8px;
    font-size: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
}

/* .heading-welcome {
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-top: 206px;
    margin-left: 1367px;
  } */
  

.login-button:hover{
    opacity:0.8;
}

p{
    font-size:0.9rem;
    text-align: center;
}